/* layout */

body{
    font-family: sans-serif;
    background-image: url("../img/bg-2.png");
    width: 100%;
}

.f-l{
    float: left;
}

.f-r{
    float: right;
}

.publicidades{
    width: 98%;
    padding-left: 1%;
}

.caja_publi{
    background-color: white;
    border: solid 1px lightgray;

}

.caja_tutoriales{
    background-color: white;
    border: solid 1px lightgray;
}

.caja_titulo{
    background-color: white;
    border: solid 1px lightgray;
    padding: 10px;
}

/* Encabezado */

header{
    font-family: sans-serif;
    width: 90%;
    background-color: orangered;
    margin: 0 auto;
    overflow: hidden;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
}

header a{
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
}

.listaEnLinea li{
    display: inline;
}

#logo img{
    width: 100px;
    position: relative;
    top:6px;
}

/* Contenido */

main{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

form{
    width: 20%;
    margin: 0 auto;
    line-height: 1.5em;
}

form h1{
    text-align: center;
    text-transform: uppercase;
}

.caja_texto{
    width: 100%;
    height: 2em;
}

.negrita{
    font-weight: bold;
}

.recordarme{
    font-weight: bold;
    color: black;
    font-size: 0.8em;
    overflow: hidden;
}

.obligatorio{
    font-weight: bold;
    color: red;
    font-size: 0.8em;
    float: left;
}

.button_inicio{
    float: left;
    background-color: rgb(13, 79, 155);
    border-radius: 8px;
    width: 150px;
    padding: 6px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.button_inicio:hover{
    background-color: rgb(43, 95, 192);
    border-radius: 8px;
    width: 150px;
    padding: 6px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}

/*Section*/

section{
    width: 72%;
    float: left;
    box-sizing: border-box;
    background-color: white;
}

section article{
    width: 105%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

section article div h2{
    margin: 0 auto;
}

section article img{
    width: 97%;
    float: left;
    display: block;
    box-sizing: border-box;
    border: solid 1px lightgray;
}

section article div{
    width: 97%;
    box-sizing: border-box;
}

.button_section{
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    background-color: orangered;
    padding: 10px;
    border-style: none;
}

/*Aside*/

aside{
    width: 26%;
    float: right;
    box-sizing: border-box;
    overflow: hidden;
}


aside article {
    margin-bottom: 1px;
    width: 99%;
    float: left;
}


aside div article p{
    position: relative;
    left: 15px;
}

aside div article img{
    width: 30%;
    padding: 10px;
    float: left;
    display: block;
}

.articulos{
    float: left;
    width: 49%;
}